##Built-in Data Structures

# Built-in Data Structure

- List
- Tuple
- Dictionary

In [1]:
# List
# most often used data structure

In [2]:
# create a list
# use []
midterm_score = [90, 95, 85, 80]

In [3]:
type(midterm_score)

list

## Access values in List

In [4]:
midterm_score[0]

90

In [5]:
midterm_score[1]

95

In [6]:
midterm_score[-1]

80

## Replace or update values in List

## Q. Replace the 95 with 100.

In [7]:
midterm_score[1] = 100

In [8]:
midterm_score

[90, 100, 85, 80]

In [9]:
# string is character

In [10]:
my_Friends = ['Ethan_Hawke', 'Brad_Pitt', 'Chris_Evans', 'Emma_Watson']

In [11]:
my_Friends[2]

'Chris_Evans'

In [12]:
my_Friends[3] = 'Emma_Thompson'

In [13]:
my_Friends[3]

'Emma_Thompson'

In [14]:
my_Friends

['Ethan_Hawke', 'Brad_Pitt', 'Chris_Evans', 'Emma_Thompson']

### Note. Element of a list can be anything among number, string, another list

In [19]:
mixedlist = [0, 2, 3.14, 'phyton', 'programming', [0, 1]]

In [20]:
mixedlist

[0, 2, 3.14, 'phyton', 'programming', [0, 1]]

## Combining multiple lists

In [24]:
list_con1 = [1, 2, 3, 4]
list_con2 = [5, 6, 7, 8]

In [25]:
list_con1

[1, 2, 3, 4]

In [26]:
list_con2

[5, 6, 7, 8]

In [30]:
# sum of lists is combining the lists
print(list_con1 + list_con2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# multiplication?
list_con1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Slicing

In [32]:
list_data = [0 , 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list_data[2:7]

[2, 3, 4, 5, 6]

#### list[i_start : i_end:i_step]
- i_start : starting index
- i_end : ending index - 1
- i_step : step size

In [35]:
list_data[0:3]

[0, 1, 2]

In [37]:
list_data[0:3:2]

[0, 2]

- type A in the command mode -> create a new cell above
- type B in the command mode -> create a new cell below
- type double D in the command mode -> delete the cell

In [38]:
list_data[0:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list_data[2:] # do not type i_end -> the last index

[2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list_data[:8] # do not type i_start -> 0-the index

[0, 1, 2, 3, 4, 5, 6, 7]

In [41]:
list_data[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list_data[::2]

[0, 2, 4, 6, 8]

## Delete

In [43]:
list_data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
# 6 -> value of data

In [45]:
del list_data[6] # index of the data

In [46]:
list_data

[0, 1, 2, 3, 4, 5, 7, 8, 9]

## List methods

### Method : function of data type 'list' to manipulate the dataset

- append
- insert
- extend
- remove
- pop
- index
- count
- sort

append : add an new element to the end of a list
- a.append(value)

In [48]:
z.append(0)

In [49]:
print(z)

[3, 7, 4, 2, 0]

In [50]:
z

[3, 7, 4, 2, 0]

insert : insert an item before the index you provided 
- z.insert(position, value)

In [51]:
z.insert(3, 2)

In [52]:
z

[3, 7, 4, 2, 2, 0]

extend : append another lsit to the end of the list
- z.extend(list)

In [53]:
z.extend([1, 2])

In [54]:
z

[3, 7, 4, 2, 2, 0, 1, 2]

 pop : remove an item at the index you provieded and return it
 - z.pop(positon)

In [55]:
z.pop(3)

2

In [56]:
z

[3, 7, 4, 2, 0, 1, 2]

sort : sort the list in the ascending order
- z.sort()

In [58]:
z.sort()

In [59]:
z

[0, 1, 2, 2, 3, 4, 7]

sort : sort the list in the descending order
 - z.sort(reverse = True)

In [60]:
z.sort(reverse = True)

In [61]:
z

[7, 4, 3, 2, 2, 1, 0]

count :  the number of times a value occurs in the list
- z.count(value)

In [63]:
z.count(2)

2

In [64]:
z.count(10)

0

index : return the first index at which a value occurs
- z.index(element)
- z.index(value, starting position)

In [65]:
z.index(4)

1

In [66]:
z.index(2)

3

In [67]:
z.index(2, 2)

3

In [68]:
z.index(2, 6)

ValueError: 2 is not in list

In [69]:
z.index(2, 4)

4

In [70]:
z

[7, 4, 3, 2, 2, 1, 0]

# list

#### how to create a list, access vlaues, combine, manipulate the list using methods